@model IEnumerable<WebAppPB2_MBO.Models.CartaoDeCredito>

@{
    ViewBag.Title = "Lista de cartões cadastrados";
}

<h2>Lista de cartões</h2>

<p>
    @Html.ActionLink("Novo Cartão", "Create")
</p>

@if (TempData["Mensagem"] != null){

    <p class="alert-sucess">@TempData["Mensagem"]</p>
}

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Numero)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cliente)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Numero)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Cliente)
                </td>
                <td>
                    @Html.ActionLink("Editar", "Edit", new { id = item.Id }) |
                    @Html.ActionLink("Detalhes", "Details", new { id = item.Id }) |
                    @Html.ActionLink("Excluir", "Delete", new { id = item.Id })
                </td>
            </tr>
        }
    </tbody>
</table>

@section scripts {
    <link href="~/Content/DataTables/css/dataTables.bootstrap.css" rel="stylesheet" />
    <link href="~/Content/DataTables/css/jquery.dataTables.min.css" rel="stylesheet" />
    <script src="~/Scripts/DataTables/jquery.dataTables.min.js"></script>
    <script type="text/javascript">
       $(document).ready(function () {
           $('table').dataTable({
               "order": [[2, "asc"]],
               "language": {
                   "url": "@Url.Content("~/scripts")/PTBR.json"
               }
           });
       });
    </script>
}
